{{ if eq .chezmoi.os "linux" }}
source ~/.asdf/asdf.fish
{{ else if eq .chezmoi.os "darwin" }}
source /opt/homebrew/opt/asdf/libexec/asdf.fish
{{ end }}
source ~/.asdf/plugins/java/set-java-home.fish
