[user]
	name = {{ if hasKey . "name" }}{{ .name | quote }}{{ else }}"Tuomas Mäkinen"{{ end }}
	email = {{ if hasKey . "email" }}{{ .email | quote }}{{ else }}"28858039+t4sm5n@users.noreply.github.com"{{ end }}

[core]
	excludesfile = "{{ .chezmoi.homeDir }}/.config/git/ignore"
	pager = "if [ ! -z \"$(which diff-so-fancy)\" ]; then diff-so-fancy | less --tabs=4 -RFX; else less; fi"

[interactive]
	diffFilter = "if [ ! -z \"$(which diff-so-fancy)\" ]; then diff-so-fancy --patch; else less --tabs=4 -RFX; fi"

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[github]
	user = {{ if hasKey .github "user" }}{{ .github.user | quote }}{{ else}}"t4sm5n"{{ end }}

[push]
	default = simple
