{{- if eq .chezmoi.os "darwin" -}}
export PATH="/opt/homebrew/bin:$PATH"
{{- end -}}

HISTFILE=${ZDOTDIR:-$HOME/.config/zsh}/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt SHARE_HISTORY

bindkey '^[[B' history-substring-search-down
bindkey '^[[A' history-substring-search-up
bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line
bindkey "^[[3~" delete-char

eval "$(starship init zsh)"

zstyle ':zim:zmodule' use 'degit'

ZIM_CONFIG_FILE=${ZDOTDIR:-$HOME/.config/zsh}/.zimrc

ZIM_HOME=${XDG_CACHE_HOME:-$HOME/.cache}/zim

if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZIM_CONFIG_FILE:-${ZDOTDIR:-${HOME}}/.zimrc} ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi

{{ if eq .chezmoi.os "linux" -}}
source "$HOME/.asdf/asdf.sh"
{{- else if eq .chezmoi.os "darwin" -}}
source $(brew --prefix)/opt/asdf/libexec/asdf.sh
{{- end }}
fpath=(${ASDF_DIR}/completions $fpath)
source ~/.asdf/plugins/java/set-java-home.zsh

source ${ZIM_HOME}/init.zsh

alias ls="ls --color=auto"
